server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  build:
    version:"1.0.0"

accounts:
  message: "Hello from accounts service"
  contactDetails:
    name: "Sahil"
    email: "Sahil@gmail.com"
  onCallSupport: "1234567890"
